---
layout: default
---
<section id="showcase" class="showcase">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>Fostering exchanges among thriving SaaS founders</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="whattoexpect" class="whattoexpect">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>What to expect</h2>
          <ul class="row" id="scrollContainer">
            <li class="col-md-3 col-sm-6 scrolleffectelement">
              <p>Fuel information and experience exchange amongst key players</p>
            </li>
            <li class="col-md-3 col-sm-6 scrolleffectelement">
              <p>Identify key areas for follow up; become industry reference</p>
            </li>
            <li class="col-md-3 col-sm-6 scrolleffectelement">
              <p>Highlight conceptual gaps between Brazil and Silicon Valley SaaS and identify opportunities for “tropicalization” – metrics, scalability, benchmarks, team building and others</p>
            </li>
            <li class="col-md-3 col-sm-6 scrolleffectelement">
              <p>Gather the top local industry players: entrepreneurs, gurus, VCs and traditional companies now focusing on SaaS, with a bias towards quality vs. quantity of participants</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 scrolleffect">
          <p class="highlight strong">Interact intimately with the future leaders of the thriving SaaS industry of 2020</p>
          <p class="">The event expects to host 120 CEOs of top SaaS companies, 20 Managing Directors of top VCs investing in SaaS and 10 Presidents/CEOs of large Software Companies in Brazil</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="speakers-participants" class="speakers-participants">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Speakers and Moderators</h2>
          <ul class="row">
            {% for speaker in site.data.speakers.confirmed %}
              <li class="col-md-3 col-sm-3 col-xs-6 scrolleffect">
                <a href="{{ speaker.linkedin }}" target="_blank">
                  <figure>
                    <img src="img/{{ speaker.img }}.jpg" class="img-responsive" alt="{{ speaker.name }}">
                  </figure>
                  <h3>{{ speaker.name }}</h3>
                  <p>{{ speaker.position }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="testimonials">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <p class="highlight scrolleffect">Come discuss best practices with global SaaS gurus and the top Brazil SaaS CEOs</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registration" class="registration">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 scrolleffect">
          <h2>Registration</h2>
          <p>Please notice the event is invitation-only.</p>
          <p>Only invited names will be allowed on the event day</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="informations" class="informations">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <section class="col-md-6 scrolleffect">
          <h2>October 17 <small>08:30am to 07:00pm</small></h2>
          <p>​CentroSul Centro de Convenções de Florianópolis</p>
          <p>Av. Governador Gustavo Richard, 850</p>
          <p>Florianópolis - SC</p>
        </section>
      </div>
    </div>
    <div class="map">
      <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDvWEJ9u0w4TpUkCuTNiJ-lRI75FlfTVsw'></script>
      <div class="gmap-container">
        <div id='gmap_canvas'></div>
        <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
      </div>
      <script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(-27.6021245,-48.55202380000003),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-27.6021245,-48.55202380000003)});infowindow = new google.maps.InfoWindow({content:'<strong>Centrosul</strong><br>Av. Gov. Gustavo Richard, 850 - Centro, Florianópolis - SC<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
  </div>

</div>
