---
layout: default
---
<section id="intern-banner" class="intern-banner">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Confirmed for 2017</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="speakers-participants" class="speakers-participants">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>participants</h2>
          <ul class="row">
            {% for participant in site.data.participants.participants %}
            <li class="col-md-2 col-sm-3 col-xs-6">
              <a href="{{ participant.linkedin }}" target="_blank">
                <figure>
                  <img src="img/participants/{{ participant.img }}.jpg" class="img-responsive" alt="{{ participant.name }}">
                </figure>
                <h3>{{ participant.name }}</h3>
                <p>{{ participant.position }}</p>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="testimonials">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p class="highlight">Come discuss best practices with global SaaS gurus and the top Brazil SaaS CEOs</p>
        </div>
      </div>
    </div>
  </div>
</section>
