---
layout: default
---
<section id="intern-banner" class="intern-banner">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Confirmed for 2017</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="speakers-participants" class="speakers-participants">
  <div class="container-fluid"> 
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>participants</h2>
          <ul class="row" id="list-participants">
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="testimonials">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p class="highlight">Come discuss best practices with global SaaS gurus and the top Brazil SaaS CEOs</p>
        </div>
      </div>
    </div>
  </div>
</section>
