---
layout: default
page: previous

---
<section id="intern-banner" class="intern-banner">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Previous Editions</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="previous-container" class="previous-container">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wrapper-nav-year">
            <div class="container-nav-year" data-spy="affix" data-offset-top="385">
              <div class="container">
                <p>Select the year</p>
                <ul class="nav nav-pills nav-justified">
                  <li class="active"><a data-toggle="pill" href="#edition2016">2016</a></li>
                  <li><a data-toggle="pill" href="#edition2015">2014</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div id="edition2016" class="tab-pane fade in active">

      <section id="speakersParticipants" class="speakers-participants">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Speakers</h2>
                <ul class="row">
                  {% for speaker in site.data.y2016.speakers-participants.speakers %}
                  <li class="col-md-3 col-sm-3 col-xs-6">
                    <img src="img/2016/{{ speaker.id }}.jpg" class="img-responsive" alt="{{ speaker.name }}">
                    <h3>{{ speaker.name }}</h3>
                    <p>{{ speaker.jobposition }}</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>Participants</h2>
                <ul class="row">
                  {% for participant in site.data.y2016.speakers-participants.participants %}
                  <li class="col-md-2 col-sm-3 col-xs-6">
                      <figure>
                        <img src="img/2016/{{ participant.id }}.jpg" class="img-responsive" alt="{{ participant.name }}">
                      </figure>
                      <h3>{{ participant.name }}</h3>
                      <p>{{ participant.jobposition }}</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="concepts" class="concepts">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Core concepts to be explored</h2>
                <div class="row">
                  <div class="col-md-6">
                    <ul>
                      <li><span>Product Management</span> - How to compete with international players</li>
                      <li><span>Enterprise SaaS</span> - "High touch" efficient sales machine</li>
                      <li><span>SMB SaaS</span> - "Low touch" efficient sales machine</li>
                      <li><span>Customer Success</span> - How to increase revenue and retention</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul>
                      <li><span>Customer Acquisition</span> - Metrics and best practices</li>
                      <li><span>International Expansion</span> - Building global companies from Brazil</li>
                      <li><span>Human Capital</span> - Hiring and building an "A" team in SaaS</li>
                      <li><span>Global SaaS Trends</span> - New market norms, multiples and exits</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="schedule" class="schedule">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Event schedule</h2>
                <div class="row">
                  <div class="col-md-12">
                    {% for schedule in site.data.y2016.schedule.schedule %}
                    <ul class="list-schedule-item">
                      <li class="schedule-item-time">{{ schedule.time }}</li>
                      <li class="schedule-item-description {{ schedule.class }}">
                        <p>{{ schedule.title }}</p>
                        <p>{{ schedule.speaker }}</p>
                      </li>
                    </ul>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="video" class="video">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Videos</h2>
                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/COnspMpG0Vo?list=PLPhQx81ZTaxNlCY6tn3UsJvDdnv5VX7_h' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="download" class="download">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Downloads</h2>
                <ul class="row">
                  {% for presentation in site.data.y2016.presentation.presentation %}
                  <li class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/objects/presentations/2016/{{ presentation.id }}.pdf" target="_blank">
                      <img class="img-responsive" src="img/presentation-{{ presentation.id }}.jpg" alt="Presentation {{ presentation.name }}">
                      <h3>{{ presentation.name }}</h3>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
    <div id="edition2015" class="tab-pane fade">

      <section id="speakersParticipants" class="speakers-participants">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Participants</h2>
                <ul class="row">
                  {% for participant in site.data.y2015.speakers-participants.participants %}
                  <li class="col-md-2 col-sm-3 col-xs-6">
                      <figure>
                        <img src="img/2015/{{ participant.id }}.jpg" class="img-responsive" alt="{{ participant.name }}">
                      </figure>
                      <h3>{{ participant.name }}</h3>
                      <p>{{ participant.jobposition }}</p>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="schedule" class="schedule">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Event schedule</h2>
                <div class="row">
                  <div class="col-md-12">
                    {% for schedule in site.data.y2015.schedule.schedule %}
                    <ul class="list-schedule-item">
                      <li class="schedule-item-time">{{ schedule.time }}</li>
                      <li class="schedule-item-description {{ schedule.class }}">
                        <p>{{ schedule.title }}</p>
                        <p>{{ schedule.speaker }}</p>
                      </li>
                    </ul>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="video" class="video">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Videos</h2>
                <div class="row">
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/I7xDDwnuyzo' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/7ObwQOBGA0s' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/6DU6d0PCVZ0' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/cPhcPRFGBS4' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/DHmAcZUh6sI' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/QPiq6-IY39s' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/M3ieOD5IEcg' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/hwU5gAUJVdc' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                  <div class="col-md-6">
                    <div class='embed-container'><iframe src='https://www.youtube.com/embed/Bk6gg8CWypg' frameborder='0' allowfullscreen></iframe></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="download" class="download">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2>Downloads</h2>
                <ul class="row">
                  {% for presentation in site.data.y2015.presentation.presentation %}
                  <li class="col-md-3 col-sm-4 col-xs-6">
                    <a href="/objects/presentations/2016/{{ presentation.id }}.pdf" target="_blank">
                      <img class="img-responsive" src="img/presentation-{{ presentation.id }}.jpg" alt="Presentation {{ presentation.name }}">
                      <h3>{{ presentation.name }}</h3>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
</section>
