---
layout: default
page: schedule
---
<section id="intern-banner" class="intern-banner">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Schedule 2017</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="schedule" class="schedule">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Event schedule</h2>
          <div class="row">
            <div class="col-md-12">
              {% for schedule in site.data.schedule.schedule %}
              <ul class="list-schedule-item">
                <li class="schedule-item-time scrolleffect">{{ schedule.time }}</li>
                <li class="schedule-item-description {{ schedule.class }} scrolleffect">
                  <p>{{ schedule.title }}</p>
                  <p>{{ schedule.speaker }}</p>
                </li>
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="testimonials">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <p class="highlight scrolleffect">Come discuss best practices with global SaaS gurus and the top Brazil SaaS CEOs</p>
        </div>
      </div>
    </div>
  </div>
</section>
