<footer id="footer" class="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row sponsors">
        <div class="col-md-12">
          <h2>Sponsors 2017</h2>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <a href="https://www.amazon.com.br/" target="_blank">
              <div class="container-sponsor">
                <img class="img-responsive amazon" src="img/amazon.svg" alt="Amazon">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="https://cubo.network/" target="_blank">
              <div class="container-sponsor">
                <img class="img-responsive cubo" src="img/cubo.svg" alt="Cubo">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="https://www.openfuture.org/pt/space/wayra-sao-paulo" target="_blank">
              <div class="container-sponsor">
                <img class="img-responsive wayra" src="img/wayra.svg" alt="Wayra">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="https://www.zendesk.com.br/" target="_blank">
              <div class="container-sponsor">
                <img class="img-responsive zendesk" src="img/zendesk.svg" alt="Zendesk">
              </div>
            </a>
          </div>
        </div>
        <div class="row supporters">
          <div class="col-md-12 text-center">
            <h2>Supporters</h2>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-6">
                <a href="https://www.dgf.com.br/" target="_blank">
                  <div class="container-supporter">
                    <img class="img-responsive dgf" src="img/dgf.jpg" alt="DGF">
                  </div>
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6">
                <a href="https://www.redpoint.com/" target="_blank">
                  <div class="container-supporter">
                    <img class="img-responsive red-point" src="img/red-point.png" alt="Red Point">
                  </div>
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6">
                <a href="https://astellainvest.com/" target="_blank">
                  <div class="container-supporter">
                    <img class="img-responsive astela" src="img/astela.png" alt="Astella">
                  </div>
                </a>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6">
                <a href="https://resultadosdigitais.com.br/" target="_blank">
                  <div class="container-supporter">
                    <img class="img-responsive resultados-digitais" src="img/resultados-digitais.png" alt="Resultados Digitais">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{base}}/javascripts/bootstrap.js"></script>
<script src="{{base}}/javascripts/scrollreveal.js"></script>
<script src="{{base}}/javascripts/main.js"></script>
