<nav>
  <div class="container">
    <div class="container-brand">
      <a href="index.html">
        <img class="brand" src="img/brand-saas-forum.svg" alt="Brazil Saas Forum">
      </a>
      <p class="hidden-xs">October 17, 2017</p>
    </div>
    <div class="container-menu">
      <ul class="list-inline visible-lg visible-md">
        <li><a href="schedule.html">Schedule</a></li>
        <li><a href="participants.html">Participants</a></li>
        <li><a href="previous-editions.html">Previous Editions</a></li>
      </ul>
      <a href="#" class="open-menu visible-sm visible-xs"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    </div>
  </div>
</nav>

<div class="mobile-menu visible-sm visible-xs">
  <ul>
    <li><a href="schedule.html">Schedule</a></li>
    <li><a href="participants.html">Participants</a></li>
    <li><a href="previous-editions.html">Previous Editions</a></li>
  </ul>
</div>
