// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?8a3cqu');
  src:  url('../fonts/icomoon/icomoon.eot?8a3cqu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?8a3cqu') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?8a3cqu') format('woff'),
    url('../fonts/icomoon/icomoon.svg?8a3cqu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$v-unity: 8px;
$brand-primary: #00a2ae; /*#0cbbc4*/
$brand-secondary: #514a9d;
$gray-lighter: #ecf2f3;

// RESET

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  position: relative;
  left: 0;
  right: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// END RESET

body{
  font-family: 'Open Sans', sans-serif;
  font-size: $v-unity * 2;
  line-height: $v-unity * 3;
  font-weight: 400;
  overflow-x: hidden;
  padding-right: 0px !important;
}

section, footer{
  padding-top: $v-unity * 18;
  padding-bottom: $v-unity * 18;
}

a{
  color: $brand-primary;
}

h1{
  font-size: $v-unity * 8;
  line-height: $v-unity * 9;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

h2{
  font-size: $v-unity * 4;
  line-height: $v-unity * 5;
  color: $brand-primary;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  margin-bottom: $v-unity * 12;
  text-align: center;
  &:after{
    content: "";
    position: absolute;
    bottom: -$v-unity * 6;
    width: 100px;
    height: $v-unity;
    background: $gray-lighter;
    left: calc(50% - 50px);
  }
}

p.highlight{
  font-size: $v-unity * 3;
  line-height: $v-unity * 4;
  &.strong {
    font-weight: 600;
    margin-bottom: $v-unity * 2;
  }
}

nav{
  background: #fff;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.1);
  // padding: $v-unity * 2;
  height: $v-unity * 12;
  width: 100%;
  font-size: $v-unity * 3;
  position: fixed;
  margin-top: -$v-unity * 12;
  z-index: 2000;
  top: $v-unity * 12;
  .container {
    height: 100%;
  }
  .container-brand{
    float: left;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    img{
      height: $v-unity * 7;
      display: inline-block;
    }
    p{
      font-size: $v-unity * 3;
      margin-left: 30px;
      color: $brand-primary;
      font-weight: 800;
      display: inline-block;
    }
  }
  .container-menu{
    float: right;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    ul{
      li{
        a{
          font-size: $v-unity * 2;
          font-weight: 400;
        }
      }
    }
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #231841; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231841 0%, #362566 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231841 0%,#362566 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231841 0%,#362566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231841', endColorstr='#362566',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-weight: 800;
  color: #fff;
}

.nav > li > a {
  padding: 20px 55px;
  font-size: $v-unity * 3;
  color: darken($gray-lighter, 40%);
}

.showcase{
  background-color: #231841;
  background-image: url(../img/showcase.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  // background: #de2b7a; /* Old browsers */
  // background: -moz-linear-gradient(-45deg, #de2b7a 0%, #fc4c36 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg, #de2b7a 0%,#fc4c36 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg, #de2b7a 0%,#fc4c36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de2b7a', endColorstr='#fc4c36',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  min-height: $v-unity * 80;
  display: flex;
  align-items: center;
  margin-top: $v-unity * 12;
  // padding-bottom: $v-unity * 28;
}

.intern-banner{
    margin-top: $v-unity * 12;
    background: #231841; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #231841 0%, #362566 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #231841 0%,#362566 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #231841 0%,#362566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231841', endColorstr='#362566',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding-top: $v-unity * 10;
    padding-bottom: $v-unity * 10;
    h1{
      font-size: $v-unity * 6;
      line-height: $v-unity * 7;
    }
}

.whattoexpect {
  text-align: center;
  position: relative;
  // padding-bottom: $v-unity * 38;
  ul{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    li{
      p{
        margin-top: $v-unity * 24;
        position: relative;
        &:after{
          content: '';
          background-size: 100px;
          background-repeat: no-repeat;
          background-position: 0;
          position: absolute;
          width: 100px;
          height: 100px;
          left: calc(50% - 50px);
          top: -140px;
        }
      }
      &:nth-child(1){
        p{
          &:after{
            content: '';
            background-image: url(../img/icon01.svg);
          }
        }
      }
      &:nth-child(2){
        p{
          &:after{
            content: '';
            background-image: url(../img/icon02.svg);
          }
        }
      }
      &:nth-child(3){
        p{
          &:after{
            content: '';
            background-image: url(../img/icon03.svg);
          }
        }
      }
      &:nth-child(4){
        p{
          &:after{
            content: '';
            background-image: url(../img/icon04.svg);
          }
        }
      }
    }
  }
}

.about{
  background: $gray-lighter;
  text-align: center;
}

.speakers-participants{
  text-align: center;
  ul{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  a{
    text-decoration: none;
    transition: all 0.4s;
    figure{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $brand-primary;
        opacity: 0;
        transition: all 0.4s;
      }
      &:after{
        content: "";
        position: absolute;
        background-image: url(../img/linkedin-brand.svg);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: 0;
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        opacity: 0;
        transition: all 0.4s;
      }
    }
    &:hover{
      h3, p {
        color: $brand-primary !important;
      }
      figure{
        &:before{
          opacity: 0.7;
        }
        &:after{
          opacity: 1;
        }
      }
    }
  }
  h3{
    font-weight: 800;
    color: $brand-secondary;
    margin-top: 30px;
  }
  p{
    color: $gray;
  }
  .col-md-2 {
    h3{
      margin-top: $v-unity * 2;
    }
    p {
      margin-bottom: $v-unity * 4;
    }
  }
  .col-md-3 {
    p{
      margin-bottom: $v-unity * 5;
    }
  }
  .row + .row {
    margin-top: $v-unity * 18;
  }
}

.testimonials{
  background: #231841; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231841 0%, #362566 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231841 0%,#362566 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231841 0%,#362566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231841', endColorstr='#362566',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  // padding-bottom: $v-unity * 38;
  // padding-top: $v-unity * 38;
  color: #fff;
  position: relative;
  text-align: center;
  // p{
  //   position: relative;
  //   padding-left: 80px;
  //   &:before{
  //     content: '';
  //     background-image: url(../img/quotes.svg);
  //     background-size: 50px;
  //     background-repeat: no-repeat;
  //     background-position: 0;
  //     position: absolute;
  //     width: 50px;
  //     height: 50px;
  //     left: 0px;
  //   }
  // }
  // &:before{
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   left: -40px;
  //   right: 0;
  //   width: 0;
  //   height: 160px;
  //   border-style: solid;
  //   border-width: 160px 1920px 0px 0px;
  //   border-color: #fff transparent transparent transparent;
  // }
  // &:after{
  //   position: absolute;
  //   content: "";
  //   bottom: 0;
  //   left: -40px;
  //   right: 0;
  //   width: 0;
  //   height: 160px;
  //   border-style: solid;
  //   border-width: 0 1920px 160px 0px;
  //   border-color: transparent transparent #fff transparent;
  // }
}

.registration {
  text-align: center;
}

.informations{
  background: $gray-lighter;
  text-align: center;
  position: relative;
  h2{
    small{
      display: block;
      margin-top: $v-unity;
    }
    &:after{
      background: $brand-primary;
    }
  }
  .map{
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    .gmap-container{
      overflow: hidden;
      position: relative;
      height: 524px;
      width: 100%;
      #gmap_canvas{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgb(229, 227, 223);
      }
    }
  }
}

.footer{

  .supporters{
    margin-top: $v-unity * 5;
    h3{
      margin-bottom: $v-unity * 2
    }
  }

  .container-sponsor{
    border: 2px solid $gray-lighter;
    padding: 30px;
    height: 200px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: $v-unity * 3;
    img{
      max-height: 120px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .container-supporter{
    border: 2px solid $gray-lighter;
    padding: $v-unity * 2;
    height: 150px;
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: $v-unity * 3;
    img{
      max-height: 120px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.schedule{
  background: $gray-lighter;
  .list-schedule-item{
    width: 100%;
    margin-bottom: $v-unity * 2;
    .schedule-item{
      &-time{
        display: inline-block;
        width: 200px;
        padding: $v-unity * 3;
      }
      &-description{
        display: inline-block;
        background: #fff;
        width: calc(100% - 210px);
        padding: $v-unity * 3;
        border-left: 5px solid $brand-primary;
        &.break{
          border-left: 5px solid darken($gray-lighter, 10%);
        }
        p{
          &:nth-child(1){
            font-weight: 600;
          }
        }
      }
    }
  }
}

.video{
  background: #231841; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231841 0%, #362566 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231841 0%,#362566 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231841 0%,#362566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231841', endColorstr='#362566',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  h2{
    color: #fff;
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: $v-unity * 4;
  }
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.concepts{
  background: #231841; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231841 0%, #362566 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231841 0%,#362566 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231841 0%,#362566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231841', endColorstr='#362566',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  h2{
    color: #fff;
  }
  ul{
    li{
      margin-bottom: $v-unity * 3;
      color: #fff;
      span{
        font-weight: 800;
      }
    }
  }
}

.wrapper-nav-year{
  min-height: 120px;
}
.container-nav-year {
  transition: all 0.2s;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  p{
    font-size: $v-unity * 3;
    font-weight: 400;
    text-align: center;
    margin-bottom: $v-unity * 4;
    color: $gray-light;
  }
  &.affix{
    position: fixed;
    top: 96px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    z-index: 3;
    border-bottom: 1px solid $gray-lighter;
    p{
      display: none;
    }
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.download {
  h2 + ul.row{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  h3{
    margin-top: $v-unity;
    margin-bottom: $v-unity * 4;
  }
}

.previous-container {
  min-height: 120px;
}

.mobile-menu{
  background: #231841; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #231841 0%, #362566 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #231841 0%,#362566 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #231841 0%,#362566 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#231841', endColorstr='#362566',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 100%;
  transition: all 0.2s;
  ul{
    margin-top: 200px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: $v-unity * 12;
    li{
      a{
        padding: 30px 15px;
        color: #fff;
        display: block;
        width: 100%;
        font-weight: 800;
        font-size: $v-unity * 3;
      }
    }
  }
  &.in{
    left: 0%;
  }
}

.page-content{
  position: relative;
  left: 0%;
  transition: all 0.2s;
  &.out{
    left: -100%;
  }
}

@media only screen and (max-width : 991px) {
  .whattoexpect {
    li{
      margin-top: $v-unity * 4;
    }
  }
  .informations{
    .container-fluid{
      padding-left: 0px;
      padding-right: 0px;
    }
    .map{
      width: 100%;
      float: right;
      position: relative;
    }
  }
  .concepts {
    ul li {
      text-align: center;
    }
  }
}

@media only screen and (max-width : 767px) {
  h1{
    font-size: $v-unity * 5;
    line-height: $v-unity * 6;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }

  h2{
    font-size: $v-unity * 3;
    line-height: $v-unity * 4;
    color: $brand-primary;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    margin-bottom: $v-unity * 12;
    text-align: center;
    &:after{
      content: "";
      position: absolute;
      bottom: -$v-unity * 6;
      width: 100px;
      height: $v-unity;
      background: $gray-lighter;
      left: calc(50% - 50px);
    }
  }
  .speakers-participants {
    li{
      &:nth-child(1), &:nth-child(2){
        margin-bottom: $v-unity * 8;
      }
    }
  }
  nav{
    background: #fff;
    padding: $v-unity * 2;
    height: $v-unity * 10;
    width: 100%;
    font-size: $v-unity * 2;
    margin-top: -$v-unity * 10;
    top: $v-unity * 10;
    img{
      height: $v-unity * 5;
    }
  }
  .whattoexpect {
    text-align: center;
    position: relative;
    ul{
      li{
        p{
          margin-top: $v-unity * 17;
          &:after{
            content: '';
            background-size: 80px;
            width: 80px;
            height: 80px;
            left: calc(50% - 40px);
            top: -100px;
          }
        }
      }
    }
  }
  .showcase{
    margin-top: $v-unity * 10;
    min-height: $v-unity * 37;
  }

  .schedule{
    .list-schedule-item{
      .schedule-item{
        &-time{
          display: block;
          width: 100%;
          padding: $v-unity * 3;
          padding-bottom: $v-unity;
          text-align: center;
        }
        &-description{
          display: inline-block;
          background: #fff;
          width: 100%;
          padding: $v-unity * 3;
          border-left: 5px solid $brand-primary;
          text-align: center;
          &.break{
            border-left: 5px solid darken($gray-lighter, 10%);
          }
          p{
            &:nth-child(1){
              font-weight: 800;
            }
          }
        }
      }
    }
  }
  .intern-banner {
    margin-top: 80px;
  }
  .container-nav-year.affix{
    top: 80px;
  }
  .nav > li {
    display: table-cell;
    width: 1%;
    a{
      padding: 10px 15px;
      font-size: $v-unity * 2;
    }
  }
  footer{
    text-align: center;
    .list-inline li{
      margin-bottom: 30px;
    }
  }
}
